{% extends 'main.html' %}
{% load humanize %}
{% load static %}
{% block content %}
<div class="container my-5">


  <div class="p-5 text-center bg-body-tertiary rounded-3" style="background-image: url('{% static 'images/hero.jpg' %}'); background-size: cover; height: 400px;">
    <div class="position-absolute top-50 start-50 translate-middle">

      <h3 class="text-body-emphasis">Discover Your Dream Job with JobWiz</h3>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        Welcome to JobWiz – where job seekers meet their perfect job match and recruiters discover top talent effortlessly.
      </p>
      <!-- <div class="d-inline-flex gap-2 mb-5">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div> -->
<form action="" role="search">
      <div class="input-group">
        
          <input type="text" class="form-control" aria-label="Sizing example input">
          <div class="btn btn-success" type="submit">Search</div>
      </div>
    </form>

    </div>
  </div>
<div class="container p-5 bg-light">
{% if job_descriptions %}
<div class="row">
    {% for job in job_descriptions %}
    <div class="col-4 mb-4">
    <div class="card job-card">
      <div class="card-body">
        <h5 class="card-title"> {{job.title}} </h5>
        <span class="text-secondary "> {{job.time_elapsed}} by  {{job.created_by}} </span>
        <hr>
        <p  class="card-text" > {{job.description}} </p>
        <div class="d-flex justify-content-between">
          <a href="{% url 'view_job' job.id %}" class="btn btn-outline-primary btn-sm ">View Full Description</a>
          <form  method="post" action="{% url 'apply_job' job.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-success btn-sm ">Apply</a>

          </form>
        </div>
      </div>
    </div>
    </div>
    
    {% endfor %}
  </div>
  {% else %}
  <div>Nothing to show</div>
  {%endif %}
  
</div>
</div>
</div>

{% endblock content %}
