{% extends 'main.html' %}
{% block content %}
<div class="container vh-100 p-5 bg-light" >
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem in ratione quidem itaque quam. Ducimus similique fugit vel saepe possimus suscipit quam. Tenetur magni delectus dolor voluptatibus assumenda eum eveniet architecto optio consequuntur quo, at commodi, perspiciatis non itaque veniam? Corrupti quod excepturi, sequi illum quas perferendis optio autem aspernatur et dolorum magni quis, quae deserunt velit soluta iure veniam?</p> </div>
{% endblock content %}